@{
    Layout = null;
}



<div class="container-fluid text-center text-md-left footer-top">
    <!-- Grid row -->
    <div class="row footer">

        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 mt-3 text-uppercase">

            <!-- Content -->

            <img src="~/Content/Images/Logo-BDA-new.png" width="239" height="70" />
            <p>Công ty cổ phẩn xây dựng BDA</p>
            <p>Khu công nghiệp Phú Mỹ - Khu phố Phước Hưng - Phương Mỹ Xuân -Thị xã Phú Mỹ - BRVT</p>
            <p>Điện thoại hỗ trợ :0988.460.270</p>
            <p>MST : 3502355273</p>

        </div>
        <!-- Grid column -->
        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">

            <!-- Links -->
            <h5 class="text-uppercase text-left title-footer">VỀ CHÚNG TÔI</h5>

            <ul class="list-unstyled list-footer">
                <li>
                    <a href="/Home/Index" class="top-list">GIỚI THIỆU</a>
                </li>
                <li>
                    <a href="/Contact/Index" class="top-list">LIÊN HỆ,GÓP Ý</a>
                </li>
                <li>
                    <a href="/Home/Index" class="top-list">CÂU HỎI VỀ CHÚNG TÔI</a>
                </li>
                <li>
                    <a href="/Home/Index" class="top-list">BẢN ĐỒ DẪN ĐƯỜNG</a>
                </li>
            </ul>

        </div>
        <!-- Grid column -->
        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">

            <!-- Links -->
            <h5 class="text-uppercase text-left title-footer">MENU</h5>

            <ul class="list-unstyled list-footer">
                <li>
                    <a href="/Home/Index" class="top-list">TRANG CHỦ</a>
                </li>
                <li>
                    <a href="/Home/Index" class="top-list">GIỚI THIỆU</a>
                </li>
                <li>
                    <a href="/ProductSearch/Index" class="top-list">SẢN PHẨM</a>
                </li>
                <li>
                    <a href="/News/Index" class="top-list">TIN TỨC</a>
                </li>
                <li>
                    <a href="/Home/Index" class="top-list">DỊCH VỤ</a>
                </li>
                <li>
                    <a href="/Contact/Index" class="top-list">LIÊN HỆ</a>
                </li>
            </ul>

        </div>
        <!-- Grid column -->

    </div>
    <!-- Grid row -->
    <!-- Footer Links -->
    <hr class="hr-footer" />

    <!----Social button-->


    <ul class="list-inline text-center">
        <li class="list-inline-item">
            <a class="btn-block btn-social btn-facebook" href="https://www.facebook.com/C%C3%B4ng-ty-s%C6%A1n-n%C6%B0%E1%BB%9Bc-BDA-2424593411097766/?modal=admin_todo_tour">
                <i class="fa fa-facebook" style="font-size:x-large;"> &#xf09a;</i>
            </a>
        </li>
        <li class="list-inline-item">
            <a class="btn-block btn-social btn-youtube" href="https://www.youtube.com/channel/UCiUdBw0CFGRoETFa91XplCQ?view_as=subscriber">
                <i class="fa fa-youtube" style="font-size:x-large;">&#xf16a; </i>
            </a>
        </li>
        <li class="list-inline-item">
            <a class="btn-block btn-social btn-instagram" href="https://www.facebook.com/C%C3%B4ng-ty-s%C6%A1n-n%C6%B0%E1%BB%9Bc-BDA-2424593411097766/?modal=admin_todo_tour">
                <i class="fa fa-instagram" style="font-size:x-large;">&#xf16d;</i>
            </a>
        </li>
        <li>
            <a class="btn-block btn-social" style=" margin-left: -15%; width: 200px;" href="#">
                <img src="~/Content/icon/daBaoBoCongThuong.png" style=" width: 60%; height:auto;" />
            </a>
        </li>
        <li>
            <a>
                <i>

                </i>
            </a>
        </li>


    </ul>



</div>





<!----Social button-->
<!-- Copyright -->
<div class="footer-copyright text-center py-3">
    © @DateTime.Now.Year Copyright:
    <a href="#"> sonbda.com</a>
</div>
<!-- Copyright -->
