@{
    Layout = null;
}

<div class="container"  style="margin-bottom:0;">
    <nav class="navbar navbar-default navbar-fixed-top" style=" border: none; margin: 0px; max-height:70px;" role="navigation">
        <div class="container">
            <div class="navbar-header" style="min-height:80px; ">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Đây là menu mobile</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/Home/Index" style="padding:0; margin-top:5px;">
                    <img src="~/Content/Images/Logo-BDA-new1.png" width="85" height="55" />
                </a>
            </div>
            <div id="navbar" class="navbar-collapse collapse" aria-expanded="false" style=" margin-left: 10%; word-spacing: 2px;">
                <ul class="nav navbar-nav" style="margin-left:70px; margin-top:13px;">
                    <li style="padding-right:20px;"><a href="/Home/Index" style="color:black;">Trang chủ</a></li>
                    <li style="padding-right:20px;"><a href="/ProductSearch/Index" style="color:black;">Sản phẩm</a></li>
                    <li style="padding-right:20px;"><a href="/News/Index" style="color:black;">Tin tức</a></li>
                    <li style="padding-right:20px;"><a href="/Tool/Index" style="color:black;">Công cụ</a></li>
                    <li style="padding-right:20px;"><a href="/Contact/Index" style="color:black;">Liên hệ</a></li>
                </ul>

                <div class="header-right" style="float:right; display:inline-block; ">

                    <a class="btn btn-outline-warning btn-cart" href="@Url.Action("Index","CartItem")" style="float:right; color:white; font-size:20px;">
                        <span class="glyphicon glyphicon-shopping-cart">
                            <span id="countCart" style="height: 20px; position: absolute; width: 20px; top: -10px; font-size: 14px; background: #ff0000; color: #fff;  border-radius: 25px; vertical-align: top; ">
                                @{int i = 0;}
                                @{
                                    if (Session["giohang"] != null)
                                    {
                                        i = (Session["giohang"] as List<BDApaint.Model.CART_ITEM>).Count;
                                    }
                                }
                                @i
                            </span>
                        </span>
                    </a>

                    <a href="#" onclick="" class="btn btn-outline-warning" data-toggle="modal" data-target="#exampleModal-search" type="submit" style="float: right; color: white; font-size: 20px; ">
                        <span class="glyphicon glyphicon-search"></span>

                    </a>
                    <a class="btn btn-outline-warning" href="/Home/loginView" id="btn-login" onclick="" type="submit" style="float: right; color: white; font-size: 20px; ">
                        <span class="glyphicon glyphicon-log-in"></span>
                    </a>


                </div>
            </div><!--/.nav-collapse -->
        </div>
    </nav>
</div>

<div class="modal" id="exampleModal" tabindex="1000" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">

</div>
<script>
    function load_modal() {
        $('#message1').hide();
        $('#message2').hide();
    }


</script>

<script type="text/javascript">
    function flyToElement(flyer, flyingTo) {
        var $func = $(this);
        var divider = 3;
        var flyerClone = $(flyer).clone();
        $(flyerClone).css({ position: 'absolute', top: $(flyer).offset().top + "px", left: $(flyer).offset().left + "px", opacity: 1, 'z-index': 1000 });
        $('body').append($(flyerClone));
        var gotoX = $(flyingTo).offset().left + ($(flyingTo).width() / 2) - ($(flyer).width() / divider) / 2;
        var gotoY = $(flyingTo).offset().top + ($(flyingTo).height() / 2) - ($(flyer).height() / divider) / 2;

        $(flyerClone).animate({
            opacity: 0.4,
            left: gotoX,
            top: gotoY,
            width: $(flyer).width() / divider,
            height: $(flyer).height() / divider
        }, 700,
        function () {
            $(flyingTo).fadeOut('fast', function () {
                $(flyingTo).fadeIn('fast', function () {
                    $(flyerClone).fadeOut('fast', function () {
                        $(flyerClone).remove();
                    });
                });
            });
        });
    }
    function AddCart(id) {
        var urlg = '@Url.Action("AddCart","CartItem")';
        $.ajax({
            type: "GET",
            url: urlg,
            data: { id: id }, 
            success: function (data) {
                $('span#countCart').html(data);               
                var itemImg = $('.img-product-aff-' + id).eq(0);
                flyToElement($(itemImg), $('.btn-cart'));
            },
        });
    }

   
   

</script>