


@foreach (var item in Model)
{
    <div class="row right-bar">
        <div class="product-single col-md-4 col-sm-4 col-lg-4 col-md-push-1 col-sm-push-1 text-center">
            <a href="#">
                <img class="img-product" src="~/Content/Images/@Html.DisplayFor(ModelItem=>)" width="180" height="150" alt="sơn voka" />

            </a>
            <div class="info-product">
                <div class="name-product">
                    Product name
                </div>
                <div class="price">
                    100 VND
                </div>
            </div>
            <hr class="line-product" />
            <div class="links">
                <a href="#" class="detail-product btn btn-info btn-lg">Xem chi tiết</a>
                <a href="#" class="add-to btn btn-info btn-lg" id="add-product">
                    <i class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></i>
                    Thêm
                </a>

            </div>
        </div>
        <div class="product-single col-md-4 col-sm-4 col-lg-4 col-md-push-1 col-sm-push-1 text-center">
            <a href="#">
                <img class="img-product" src="~/Content/Images/kova.png" width="180" height="150" alt="sơn voka" />

            </a>
            <div class="info-product">
                <div class="name-product">
                    Product name
                </div>
                <div class="price">
                    100 VND
                </div>
            </div>
            <hr class="line-product" />
            <div class="links">
                <a href="#" class="detail-product btn btn-info btn-lg">Xem chi tiết</a>
                <a href="#" class="add-to btn btn-info btn-lg" id="add-product">
                    <i class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></i>
                    Thêm
                </a>

            </div>
        </div>
        <div class="product-single col-md-4 col-sm-4 col-lg-4 col-md-push-1 col-sm-push-1 text-center">
            <a href="#">
                <img class="img-product" src="~/Content/Images/kova.png" width="180" height="150" alt="sơn voka" />

            </a>
            <div class="info-product">
                <div class="name-product">
                    Product name
                </div>
                <div class="price">
                    100 VND
                </div>
            </div>
            <hr class="line-product" />
            <div class="links">
                <a href="#" class="detail-product btn btn-info btn-lg">Xem chi tiết</a>
                <a href="#" class="add-to btn btn-info btn-lg" id="add-product">
                    <i class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></i>
                    Thêm
                </a>

            </div>
        </div>


    </div>
}
