<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <h1>Liên lạc mới từ khách hàng</h1>
    <p>Nội dung liên lạc</p>
    <div class="table-responsive" style="border: 2px solid rgba(0,0,0,0.5); background-color: rgba(0,0,0,0.09);">
        <table class="table" style="margin-bottom:0px;">
            <tr>
                <td>Tên khách hàng</td>
                <td>:</td>
                <td>{{UsernameContact}}</td>
            </tr>
            <tr>
                <td>Địa chỉ email</td>
                <td>:</td>
                <td>{{EmailContact}}</td>
            </tr>
            <tr>
                <td>Chủ đề</td>
                <td>:</td>
                <td>{{SubjectContact}}</td>
            </tr>
            <tr>
                <td>Nội dung</td>
                <td>:</td>
                <td>{{ContentContact}}</td>
            </tr>
        </table>
    </div>
</body>
</html>
