
@{
    ViewBag.Title = "ErrorCompare";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
<div style="padding-left:50px; padding-right:50px; margin-top:30px; margin-bottom:30px;">
    <h3 class="text-center alert alert-danger">Quí khách chưa chọn sản phẩm để so sánh . Vui lòng chọn sản phẩm để tiến hành so sánh ! </h3>
    <a class="myButton" style="margin-bottom: 10px; margin-left: 30px;" href="@Url.Action("Index", "Home")"><span class="glyphicon glyphicon-arrow-left"></span> Quay về trang chủ</a>
</div>
