@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
<hr id="line" />

<div class="row" id="title-tool">
    <h1 class="text-center text-primary" style="font-weight: 500; color: white; font-family: 'Merriweather', serif;">Công cụ của BDA paint </h1>
</div>
<section class="we-offer-area item-border-less bg-gray">
    <div class="container">
        <div class="row">
            <div class="row our-offer-items less-carousel">
                <!-- Single Item -->
                <a class="col-md-4 col-sm-6 equal-height" style="color:black; text-decoration:none;" href="/Color/Index">
                    <div class="item">
                        <span class="number">1</span>
                        <i class="fa fa-tint icon-tool"></i>
                        <h4 class="title-tool">Chọn màu</h4>
                        <p>
                            Các mã màu chuyên dụng dành cho thiết kế được chuyển đổi tương ứng với 2.016 màu sơn với độ chính xác cao
                        </p>
                    </div>
                </a>
                <!-- End Single Item -->
                <!-- Single Item -->
                <a class="col-md-4 col-sm-6 equal-height" style="color:black; text-decoration:none;" href="/Calculator/Index">
                    <div class="item">
                        <span class="number">2</span>
                        <i class="fa fa-calculator icon-tool"></i>
                        <h4 class="title-tool">Tính toán sơn</h4>
                        <p>
                            Lượng sơn chỉ mang tính chất tham khảo. Lượng sơn chính xác thay đổi theo nhiều yếu tố bao gồm cả phương pháp thi công.
                        </p>
                    </div>
                </a>
                <!-- End Single Item -->
                <!-- Single Item -->
                <a class="col-md-4 col-sm-6 equal-height" style="color:black; text-decoration:none;" href="/CheckChinhHang/Index">
                    <div class="item">
                        <span class="number">3</span>
                        <i class="fa fa-check-square-o icon-tool"></i>
                        <h4 class="title-tool">Kiểm tra hàng chính hãng</h4>
                        <p>
                            Kiểm tra hàng chính hãng dựa vào mã seri được in dưới đáy thùng . Quý khách có thể nhập mã seri để kiểm tra hàng chính hãng.
                        </p>
                    </div>
                </a>
                <!-- End Single Item -->

        </div>
    </div>
    </div>
</section>