
@{
    ViewBag.Title = "SendSuccess";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<h2 class="text-center alert alert-info" " >Bạn đã gửi liên hệ thành công</h2>
<a class="text-center"  href="/Home/Index">Bấm vào đây để quay về trang chủ</a>

