<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>BDApaint - NVTeam</title>
    <!-- Main CSS-->
    <link href="~/AdminContent/css/main.css" rel="stylesheet" />
    <!-- Font-icon css-->
    <link rel="stylesheet" type="text/css" href="~/Content/awesome/font-awesome.min.css">
</head>
<body>
    @RenderBody()
</body>
</html>


