@model BDApaint.Model.USER
@{
    Layout = null;
}


<div class="form-group">

    <div class="col-sm-2">
    </div>

    <div class="col-sm-6 form-group" style="padding:20px;">
        @using (Html.BeginForm("UpdatePassWord", "User", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <p>
                <label for="old_pass">Mật khẩu cũ</label>
                <input class="hidden id-user" name="PRODUCT_ID" value="@Model.ID" id="@Model.ID" />
                <input id="old_pass" required class="form-control input-change" name="old_pass" type="password">

            </p>
            <p>
                <label for="newpass" class="label-change">Mật khẩu mới</label>
                <input id="newpass" required class="form-control input-change" @*pattern=".{6,}" title="Vui lòng nhập 6 kí tự trở lên"*@ name="newpass" type="password">
                
            </p>
            <p>
                <label for="renewpass" class="label-change">Nhập lại mật khẩu mới</label>
                <input id="renewpass" required class="form-control input-change" name="renewpass" type="password">

            </p>
             <span style="color:red;">@TempData["Message"]</span>
            <div class="no-border">
                <button class="myButton text-center" id="submit_change_pass" style="border-radius:50px; border-radius:6px; padding:12px 20px; cursor:pointer; background-color:#6cf; color:white;" type="submit">
                    <span class="glyphicon glyphicon-ok"></span> Thay đổi
                </button>
                <button class="myButton text-center" style="border-radius: 50px; padding: 12px 20px; border-radius: 6px; cursor: pointer; background-color: #6cf; color: white;" type="reset">
                    <span class="glyphicon glyphicon-refresh"></span> Nhập lại
                </button>
            </div>
            
        }
        <small class="mesMatKhauCu"></small>
    </div>

    <div class="col-sm-4"></div>
</div>

<script type="text/javascript">
    $('#newpass').change(function () {
        var new_pass = $('#newpass').val();
        if (new_pass == $('#old_pass').val()) {
            alert("Mật khẩu mới không được trùng mật khẩu cũ");
            $('#newpass').html("");
            $('#newpass').focus();
        }
    })

    $('#renewpass').change(function () {
        var re = $('#renewpass').val();
        if (re != $('#newpass').val()) {
            alert("Mật khẩu nhập lại phải trùng mật khẩu mới đã nhập");
            $('#renewpass').focus();
        }
    });
</script>