@{
    ViewBag.Title = "ForgotPass";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<div class="edit-add-product">
    <h2 class="alert alert-info text-center">Quên mật khẩu</h2>
    <blockquote style="margin-left:10px;">
        <p>Vui lòng nhập email để lấy lại mật khẩu. Chúng tôi sẽ gửi đường dẫn đổi mật khẩu mới qua email của bạn</p>
    </blockquote>


    @using (Html.BeginForm("ForgotPasswordPost", "User", FormMethod.Post))
    {
        <div class="form-group" style="margin-left:30%; margin-bottom:20px;">
            @Html.AntiForgeryToken()
            <label for="mail" style="margin-right:3%;">Nhập email :</label>
            <input class="form-control" type="email" id="mailforgot" name="mailforgot" style="display:inline-block;" placeholder="Nhập địa chỉ email..." />
            <button class="btn" type="submit" style="background-color:#6cf; color:white;"> Gửi</button>
        </div>
        <h3 class="alert text-center" style="color:red;">@ViewBag.message</h3>
    }
</div>